arrow==0.17.0
async-timeout==4.0.3
cassandra-driver==3.24.0
cassandra-migrate==0.3.4
chess==1.10.0
click==7.1.2
future==0.18.2
geomet==0.2.1.post1
kafka-python==2.0.2
kazoo==2.9.0
packaging==24.1
protobuf==5.27.2
python-chess==1.999
python-dateutil==2.8.1
PyYAML==5.3.1
redis==4.3.5
six==1.15.0
tabulate==0.8.9
temporalio==1.5.0
types-protobuf==5.27.0.20240626
typing-extensions==3.7.4.3
